 <footer>
		<div class="container">
			<div class="wrap-footer">
				<div class="row">
					<div class="right" with=100%>
            		<i  id="img2" class="icon fa fa-facebook fa-3x"  ></i>
  					<i  id="img2" class="icon fa fa-instagram fa-3x "></i>
  					<i  id="img2" class="icon fa fa-twitter-square fa-3x "></i>
            		<i  id="img2" class="icon fa fa-rss fa-3x" ></i>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div>
					  Solidus Designed by IagoProyect
					</div>
					<div>

					</div>
				</div>
			</div>
		</div>
	</footer>